.contacts {
  margin-top: 115px;
  img {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: block;
    height: 100%;
    object-fit: cover;
    background-position: center;
    @media (max-width: 540px) {
      height: 50vh;
    }
  }
}
.contacts_bg {
  width: 100%;
  max-width: 1920px;
  min-height: 1000px;
  margin: 0 auto;
  background-position: center;
  // background-size: cover;
}
.contact_us {
  background-color: #c19f80;
}
.items {
  min-height: 350px;
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  @media (max-width: 1320px) {
    gap: 40px;
  }

  @media (max-width: 1140px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 541px) {
    grid-template-columns: repeat(1, 1fr);
  }
  .item {
    // flex: 33.333%;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
    // background-color: aquamarine;
    @media (max-width: 1140px) {
    }

    .bgIcon {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1140px) {
        width: 75px;
        height: 75px;
      }
      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        @media (max-width: 1140px) {
          width: 25px;
          height: 25px;
        }
      }
    }
    .details_title {
      font-size: 24px;
      font-weight: 500;
      color: #000;
      margin-bottom: 14px;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      width: 250px;
      cursor: pointer;
    }
  }
  .item:nth-child(3)img {
    height: 35px;
    @media (max-width: 1140px) {
      height: 30px;
    }
  }
}
// ===== GOOGLE MAPS STYLES HERE ======
.mapWrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  min-height: 800px;
  // background-color: aqua;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapContainer {
  max-width: 95%;
  margin: 0 auto;
  padding: 0px 20px;
  @media (max-width: 541px) {
    width: 100%;
    padding: 0 10px;
  }
}
.mapInner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 30px;
  width: 100%;
  @media (max-width: 1140px) {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    column-gap: 70px;
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }
}
.cardWrap {
  min-width: 33.333%;
  // max-width: 450px;
  @media (max-width: 768px) {
    width: 100%;
  }

  .card {
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;

    @media (max-width: 960px) {
      height: 520px;
    }
    @media (max-width: 540px) {
      height: 350px;
    }
    @media (max-width: 325px) {
      height: 280px;
    }
  }
  h3 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 26px;
  }
}
