$bgColor: #c19f80;
$textColor: #000;

.about {
  margin-top: 100px;
}
.about_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 100px 0;
  @media (max-width: 1140px) {
    gap: 30px;
    padding: 30px 0;
  }
  @media (max-width: 1040px) {
    flex-direction: column;
    row-gap: 50px;
  }
}
.about_top,
.about_bottom {
  padding: 60px 0;
}
.about_top {
  .about_title {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
    @media (max-width: 1140px) {
      text-align: center;
      font-size: 30px;
    }
  }
  .about_text {
    margin-top: 30px;
    font-size: 18px;
    line-height: 24px;
    color: #c19f80;

    @media (max-width: 1040px) and (min-width: 768px) {
      padding: 0px 50px;
    }
  }
}
// ======= ABOUT BOTTOM =======
.about_bottom {
  background-color: #000;
  .about_left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media (max-width: 540px) {
      h2 {
        font-size: 25px;
        margin-bottom: 10px;
        line-height: 32px;
      }
    }
  }
  .about_title_top {
    font-size: 45px;
    line-height: 65px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    @media (max-width: 1140px) {
      font-size: 30px;
      margin-bottom: 10px;
      line-height: 45px;
    }
  }
  .about_title_small {
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    span {
      color: #c19f80;
    }
    @media (max-width: 1140px) {
      font-size: 20px;
    }
  }
  .bgAbout {
    border-radius: 12px;
    width: 550px;
    @media (max-width: 1140px) {
      width: 500px;
      height: 500px;
    }
    @media (max-width: 540px) {
      width: 350px;
      height: 350px;
    }
    @media (max-width: 375px) {
      width: 300px;
      height: 300px;
    }
  }
}
// ====== Education and cards styles ======
.education_wrapper {
  min-height: 600px;
  background-color: #9e6767;
}
.cards_wrapper {
  padding: 80px 0;
  background-image: url(./images/AboutBg.jpg);
  background-size: cover;
  min-height: 500px;
  border-bottom: 3px solid #f7f4f4;
}
.cards_inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 50px;
  @media (max-width: 1320px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 540px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
