.accordion {
  font-family: "Inter", sans-serif;
  background: rgba(39, 35, 41, 1);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  @media (max-width: 961px) {
    padding: 50px 0;
  }
  h3 {
    font-size: 45px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    @media (max-width: 961px) {
      font-size: 30px;
      line-height: 52px;
      margin: 30px 0;
    }
  }
  .flex {
    display: flex;
    gap: 150px;
    @media (max-width: 1320px) {
      gap: 100px;
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  .left {
    flex: 1;
    .item {
      padding: 10px 5px;
    }
    .title {
      font-size: 24px;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid rgba(255, 255, 255, 1);
      text-transform: capitalize;
      @media (max-width: 961px) {
        font-size: 20px;
      }
    }
    .title.active {
      border-bottom: 0;
    }

    .text {
      margin-top: 10px;
      line-height: 26px;
      font-size: 19px;
      color: #fff;
      padding-right: 30px;
      @media (max-width: 961px) {
        font-size: 18px;
        line-height: 24px;
      }
    }
    .toggle {
      font-size: 27px;
      cursor: pointer;
      padding: 5px;
      color: #fff;
    }
  }
  .right {
    flex: 1;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .contents {
      margin-bottom: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h4 {
      font-size: 27px;
      color: #fff;
      text-align: center;
      @media (max-width: 961px) {
        font-size: 24px;
      }
    }
    span.small {
      color: rgba(193, 159, 128, 1);
      font-size: 20px;
    }
  }
}
