.faq {
  padding: 100px 0;
  background: url(../../assets/images/faq/bg.svg);
  height: 600px;
  background-size: cover;
  background-color: rgba(39, 35, 41, 1);

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    color: #fff;
    background-color: aqua;
  }
  .left {
  }
  .right {
    h2 {
      font-size: 27px;
      font-family: sans-serif;
      color: #fff;
    }
    p {
      color: #fff;

      font-size: 27px;
      font-family: Inter;
      span {
        color: rgba(193, 159, 128, 1);
      }
    }
  }
}
