.btn a {
  background: #c19f80;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;

  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 35px;
}
.btn a > img {
  margin-right: 5px;
  width: 15px;
}
