.wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  .content {
    text-align: center;
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 70px;
      line-height: 85px;
      text-align: center;
      color: #ffffff;
      @media (max-width: 960px) and (min-width: 720px) {
        font-size: 50px;
        line-height: 65px;
      }
    }
    .submenu {
      font-weight: 500;
      font-size: 23px;
      line-height: 28px;
      text-align: center;
      color: #ffffff;
      margin-top: -30px;
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 23px;
      line-height: 28px;
      text-align: center;
      color: #ffffff;
      margin-top: 25px;
      span {
        color: rgba(193, 159, 128, 1);
      }
    }
  }
}
