.wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  .content {
    text-align: center;
    h1 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 70px;
      line-height: 85px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 10px;

      @media (max-width: 540px) {
        font-size: 45px;
        line-height: 54px;
      }
      @media (max-width: 540px) {
        font-size: 40px;
        line-height: 50px;
      }
    }
    .subTitle {
      font-weight: 500;
      font-size: 23px;
      line-height: 28px;
      text-align: center;
      color: #ffffff;
      @media (max-width: 540px) {
        font-size: 16px;
        line-height: 24px;
        display: inline-block;
        padding: 0 40px;
      }
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 23px;
      line-height: 28px;
      text-align: center;
      color: #ffffff;
      margin-top: 25px;
      padding: 0 20px;
      @media (max-width: 540px) {
        font-size: 20px;
        line-height: 24px;
      }
      @media (max-width: 330px) {
        margin-top: 40px;
      }
      span {
        color: rgba(193, 159, 128, 1);
      }
    }
  }
}
