.launching {
  padding: 100px 0;
  background-color: #fff;
  @media (max-width: 540px) {
    padding: 80px 0;
  }

  .flex {
    display: flex;
    align-items: center;
    gap: 130px;
    @media (max-width: 1320px) {
      gap: 100px;
    }
    @media (max-width: 1060px) {
      flex-direction: column;
    }
    @media (max-width: 540px) {
      gap: 50px;
    }
  }
  .content {
    text-align: left;

    h2 {
      font-family: "Inter";
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
      color: #000000;
      margin-bottom: 38px;
      @media (max-width: 540px) {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 20px;
      }
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      color: #c0610a;
      @media (max-width: 1060px) and (min-width: 768px) {
        padding: 0 70px;
      }
      @media (max-width: 540px) {
        padding: 0 5px;
        font-size: 16px;
      }
      span {
        font-weight: 500;
        color: #612020;
      }
      .hero {
        color: #a9552b;
      }
    }
  }
}
