.bgBlack {
  background-color: rgb(37, 32, 32);
}
.header {
  font-family: "Inter", sans-serif;
  padding: 20px 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  color: bisque;
}
.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 960px) {
      display: none;
    }
  }
}
nav {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: 1140px) {
      gap: 30px;
    }
  }
  a {
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #c19f80;
      letter-spacing: 0.1px;
    }
    @media (max-width: 1140px) and (min-width: 960px) {
      font-size: 16px;
    }
  }
}
.logo img {
  width: 240px;
  @media (max-width: 1140px) and (min-width: 960px) {
    width: 225px;
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 20px;
  img {
    height: 35px;
    width: 35px;
    @media (max-width: 1140px) and (min-width: 960px) {
      height: 27px;
      width: 27px;
    }
  }
  span {
    font-size: 19px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      color: #c19f80;
    }
    @media (max-width: 1140px) and (min-width: 960px) {
      font-size: 16px;
    }
  }
}
.lang {
  position: relative;
  font-size: 18px;
  text-transform: capitalize;
  width: 50px;
  margin-left: 10px;

  img {
    margin-left: 5px;
    width: 15px;
  }
  .subMenu {
    position: absolute;
    top: 30px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50px;
    width: 100%;
  }
}
.mobileMenu {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
  img {
    width: 28px;
    height: 25px;
    padding: 8px;
    box-sizing: unset;
  }
}
