.footer {
  padding: 50px 0;
  background-color: black;
  color: #fff;
  &_inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;

    @media (max-width: 1140px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
    }
    @media (max-width: 865px) {
      grid-template-columns: repeat(1, 1fr);
      // justify-items: center;
      // align-items: center;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
// ===== FOOTER LEFT HERE =====
.footer_left {
  // background-color: #c19f80;
  .connections {
    padding-left: 20px;
    @media (max-width: 961px) {
      padding-left: 0px;
    }
  }
  h2 {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
  }
  .list {
    margin: 20px 0;
    a {
      color: #fff;
      font-size: 16px;
      line-height: 25px;
    }
  }

  .footer_logo {
    width: 250px;
    margin-bottom: 40px;
  }
}
// ===== FOOTER CENTER HERE =====
.footer_center {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  @media (max-width: 961px) {
    row-gap: 50px;
  }
  // @media (max-width: 420px) {
  //   gap: 50px;
  //   flex-direction: column;
  // }
  .footer_centerLeft,
  .footer_centerRight {
    .list_title {
      font-size: 24px;
      font-weight: 600;
    }
    .list_item {
      margin: 15px 0;
      a {
        color: #fff;
        font-size: 18px;
        line-height: 21px;
        @media (max-width: 540px) {
          font-size: 16px;
        }
      }
    }
  }
}
// ===== FOOTER RIGHT HERE =====
.footer_right {
  margin-top: 15px;
  @media (max-width: 961px) {
  }
  .footer_right_title {
    margin-bottom: 20px;
  }
  .social_icons {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
    img {
      cursor: pointer;
      transition: 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .social_icons span:nth-child(2) {
    padding: 10px;
    background-color: #c19f80;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social_icons span:nth-child(2) > img {
    padding-right: 1px;
  }
  .footer_form {
    display: flex;
    flex-direction: column;
    .form_title {
      font-size: 24px;
      color: #fff;
      margin: 20px 0;
    }
    .form_input {
      width: 90%;
      max-width: 300px;
      background: transparent;
      font-size: 16px;
      color: #fff;
      border: none;
      border-bottom: 1px solid #fff;
      margin-bottom: 20px;
      padding: 8px 3px;
    }
    .form_textarea {
      font-size: 18px;
      color: #fff;
      width: 90%;
      max-width: 300px;

      background: transparent;
      color: #fff;
      border-radius: 3px;
      margin-top: 7px;
    }
  }
}
