* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  height: 100vh;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
